<ion-content [scrollY]="false" [fullscreen]="true">
  <div class="container-generico">
    <div class="container-generico__header">
      <app-up-navigator [NavigatorTitle]="'Pedidos'"></app-up-navigator>
    </div>
    <div class="container-generico__body">
      <app-visualizar-pedido></app-visualizar-pedido>
      <app-visualizar-pedido></app-visualizar-pedido>
      <app-visualizar-pedido></app-visualizar-pedido>
      <app-visualizar-pedido></app-visualizar-pedido>
      <app-visualizar-pedido></app-visualizar-pedido>
      <app-visualizar-pedido></app-visualizar-pedido>
      <app-visualizar-pedido></app-visualizar-pedido>
      <app-visualizar-pedido></app-visualizar-pedido>
      <app-visualizar-pedido></app-visualizar-pedido>
      <app-visualizar-pedido></app-visualizar-pedido>
    </div>
  </div>
</ion-content>
