<ion-content [scrollY]="false">
  <div class="home">
    <div class="home__header">
      <div class="user-icon">
        <span class="material-icons icon">person_pin</span>
      </div>
      <div class="search-bar">
        <app-search-bar></app-search-bar>
      </div>
    </div>
    <div class="home__titulo">
      <h3>Mercados</h3>
    </div>
    <div class="home__body">
      <div class="item">
        <app-mercado></app-mercado>
      </div>
      <div class="item">
        <app-mercado></app-mercado>
      </div>
      <div class="item">
        <app-mercado></app-mercado>
      </div>
      <div class="item">
        <app-mercado></app-mercado>
      </div>
      <div class="item">
        <app-mercado></app-mercado>
      </div>
      <div class="item">
        <app-mercado></app-mercado>
      </div>
      <div class="item">
        <app-mercado></app-mercado>
      </div>
    </div>
    <app-tabs-navigator></app-tabs-navigator>
  </div>
</ion-content>

