@import '../../../global.scss';

.tabs-navigator {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background-color: $background-color;

  .tabs-navigator__nav-button {
    display: block;

    .nav-icon {
      font-size: 2.1em;
    }
  }
}
