<div class="tabs-navigator">
  <a class="tabs-navigator__nav-button anchor-color">
    <span class="material-icons nav-icon" >home</span>
  </a>
  <a class="tabs-navigator__nav-button anchor-color" routerLink="/pedidos">
    <span class="material-icons nav-icon">bookmark_border</span>
  </a>
  <a class="tabs-navigator__nav-button anchor-color" routerLink="/favoritos">
    <span class="material-icons nav-icon">favorite</span>
  </a>
  <a class="tabs-navigator__nav-button anchor-color" routerLink="/carrinho">
    <span class="material-icons nav-icon">shopping_cart</span>
  </a>
</div>
