<div class="categoria">
  <div class="categoria__titulo">
    <h3 class="titulo">Mercados</h3>
  </div>
  <div class="categoria__items">
    <div class="item">
      <app-mercado></app-mercado>
    </div>
    <div class="item">
      <app-mercado></app-mercado>
    </div>
    <div class="item">
      <app-mercado></app-mercado>
    </div>
    <div class="item">
      <app-mercado></app-mercado>
    </div>
    <div class="item">
      <app-mercado></app-mercado>
    </div>
    <div class="item">
      <app-mercado></app-mercado>
    </div>
    <div class="item">
      <app-mercado></app-mercado>
    </div>



  </div>
</div>
