<div id="mercado" class="mercado-component" >
    <div class="mercado">

        <div class="mercado__img">
            <img class="img" src="https://courier-images-web.imgix.net/static/img/meta_image.png?auto=compress,format&fit=max&w=undefined&h=undefined&dpr=2&fm=png">
        </div>
        <div class="mercado__info">
            <h5 class="titulo">Holo live market</h5>

            <div class="local">
                <span class="distancia">3km</span>
                <span class="local-detalhado">Torres galvão</span>
            </div>
        </div>
    </div>
    <div class="mercado__status">
        <div class="status"></div>
    </div>

</div>
