

<div class="adicionar-produto">
  <div class="adicionar-produto__img">
    <img class="img" src="https://images-americanas.b2w.io/produtos/01/00/img2/146752/6/146752651_1GG.jpg">
  </div>
  <div class="adicionar-produto__descricao">
    <h5>Bolacha cream cracker com preço mais barato</h5>
  </div>
  <div class="adicionar-produto__total">
    <p class="preco">Total:                      R$ 3,00</p>
  </div>

  <div class="adicionar-produto__configurar">
    <a class="adicionar-produto__button">
      Adicionar
    </a>
    <app-contador></app-contador>
  </div>
  <div class="adiconar-produto__detalhes">
    <span class="detalhes">Detalhes do produto</span>
    <span class="material-icons">keyboard_arrow_down</span>
  </div>
</div>

